@font-face {
    src: url(./fonts/Inconsolata/inconsolata.ttf);
    font-family: inconsolata;
}

@font-face {
    src: url(./fonts/Indie-Flower/indie.ttf);
    font-family: indie;
}

html, body {
    height: 100vh;
}

.app {
    display: grid;
    grid-template-rows: 1fr 15fr;
    margin: 0px 10px 0px 10px;
    
}

.main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-row: 2/3;
}

.header {
    grid-row: 1/2;
    display:flex;
    justify-content: space-between;
    font-family: indie;
    font-size: 3.2rem;
}

.span1 {
    font-weight:bold
}

.title {
    background-color: #C4A484;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 10px;
}

.sign-in {
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 2rem;
    padding: 5px 10px;
    font-family: indie;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: bold;

}





.left-column {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    margin-top: 9vh;
    gap: 2vh;
    
}

.left-column button, .add-music {
    width: 150px;
    font-size: 2rem;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-family: indie;

}

.left-column button:hover, .add-music button:hover {
    background-color: black;
    color: white;
}



.content{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
}

.my-music {
    align-self: center;
    font-size: 3rem;
    font-family: indie;
    font-weight: bold;
}

.add-music {
    position: absolute;
    right: 10px;
    border: none;
    background-color: white;
    font-size: 2rem;
    font-family: indie;
    width: 185px;
    padding: 0px;
}

.popup-form {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.popup-form input {
    font-size: 1.5rem;
}